.main2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap:    20px;
}

.items{
    text-align: center;
    color:#4db8ff;
}
.devitem{
    margin-top: 120px;
    text-align: center;
    background-color:#f2f2f3;
    padding-top: 20px;
    height: 235px;
    width: 160px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightblue;
}

.imageitem{
    width: 150px;
    height:150px;
    border-radius: 10px;
}
.search{
    display: flex;
    text-align: center;
    padding-top: 20px;
}
.user{
    margin-top: 20px;
    border-width: 2px;
    margin-left: 530px;
    margin-right: 400px;
    box-shadow: 5px 5px 5px lightblue;
}
.l{
    margin-right:30px;
}
nav{
    width: 100vw;
    position:fixed;
    box-shadow: 5px 5px 5px lightgray;
}
.logo{
    background-color:rgb(73, 65, 135);
    border-style: solid;
    border-radius: 40px;
    color: aqua;
    box-shadow: 5px 5px 5px lightblue;
}
.cardlogo{
    background-color:blueviolet;
    font-size: 30px;
    width: 100px;
    box-shadow: 5px 5px 5px lightblue;
}