.page1{
    background-image: url("https://img.freepik.com/free-photo/tranquility-further-showcased-scenic-mountain-landscapes-generative-ai_188544-8761.jpg?w=1060&t=st=1714736343~exp=1714736943~hmac=b3e5351ed5fd188d7e4acca6a121d4f8be0b86f563b8bb975a5498cd1165b2df");
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
}

.mainhead{
    text-align: center;
    color: blueviolet;
    font-family:'Monotype Corsiva';
    margin-bottom: 50px;
    padding-top: 30px;
    text-shadow: 5px 5px 5px blue;
}
.main{
    background-color:rgb(222, 219, 219);
    margin-left: 530px;
    margin-right: 530px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightblue;
}
.item{
    text-align: center;
    margin-bottom: 20px;
}
input{
    text-align: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border-width: 0px;
    margin-bottom: 20px;
}
select{
    text-align: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border-width: 0px;
    margin-bottom: 20px;
}
button{
    height: 40px;
    width: 200px;
    margin-bottom: 50px;
    background-color: rgb(51, 123, 210);
    border-radius: 20px;
    color: white;
}
.check{
    width: 20px;
}
.box{
    display: flex;
    justify-content: center;
}
.submit{
    color: white;
    background-color: blue;
    width: 120px;
    height: 40px;
    box-shadow: 5px 5px 5px lightblue;
}